.btn {
    height: 50px;
    width: 100px;
}

.box {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.box2 {
    height: 200px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease;
}